footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
}

footer img{
    width: 15vw;
    height: fit-content;
    margin-top: -2vh;
}

footer .service, .company, .address{
    display: flex;
    flex-direction: column;
    flex-basis: 20vw;
}

footer .service , .company , .address,  h1{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
}

footer h1{
    font-weight: bold;
}

footer .address p{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: regular;
    font-size: 20px;
    padding: 2%;
}

footer a{
    text-decoration: none;
    color: black;
    padding: 2%;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: regular;
    font-size: 20px;
}

@media screen and (max-width: 450px){
    footer h1{
        font-size: 15px;
        padding: 3%;
    }
    footer img{
        padding-top: 5%;
        padding-right: 5%;
    }
    footer .service a{
        font-size: 10px;
        padding: 5%;
    }
    footer .company a{
        font-size: 10px;
        padding: 5%;
    }
    footer .address p{
        font-size: 10px;
        padding: 5%;
    }
}

@media screen and (max-width: 1025px) and (min-width: 450px){
    footer img{
        padding-top: 3%;
    }
}

