main .cards .card img{
    height: 22vh;
    width: auto;
}

main .cards .card .delivery img{
    height: 5vh;
    width: auto;
    cursor: pointer;
    margin: 2%;
}

main .cards .card .price, .delivery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .cards .card .price p{
    padding-left: 5%;
}

main .cards .card .delivery p{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}

main .cards .card{
    padding: 2%;
    background-color: #f9dbdb;
    justify-content: space-around;
    flex-basis: 25vw;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid #f9dbdb;
    border-radius: 16px;
    box-shadow: 0px 9px rgb(164, 164, 164);
}

main .cards .card:hover{
    transform: translateY(-2vh);
}

main .cards{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-around;
}

main .cards .card p{
    padding: 5%;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-size: 15px;
}

main .top h1{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding-left: 3%;
    font-size: 60px;
    padding-bottom: 3%;
    flex-basis: 60vw;
    justify-self: flex-start
}

main .top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
}

main .top button{
    margin: 30px;
    color: white;
    background-color: black;
    flex-basis: 10vw;
    justify-self: flex-end;
    border: 1px solid black;
    box-shadow: none;
    border-radius: 16px;
    font-size: 23px;
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

main .top button:hover{
    cursor: pointer;
}

main .cards .card .price h2{
    font-size: 30px;
    padding: 2%;
}

.testimonial h1{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding: 10%;
    padding-left: 9%;
    font-size: 60px;
    padding-bottom: 3%;
    flex-basis: 60vw;
    justify-self: flex-start
}

.testimonial .cards .card{
    flex-basis: 20vw;
    padding: 2%;
}

.testimonial .cards .card:hover{
    transform: translateY(0);
}

.testimonial .cards .card img{
    width: 16vw;
    height: auto;
}

.testimonial .cards .card .star{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.testimonial .cards .card .star p{
    margin: 0;
    font-size: 20px;
    padding: 0;
}

main .about{
    display: flex;
    justify-content: space-around;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 2%;
    border-bottom: 2px solid rgb(94, 94, 94);
    margin-bottom: 1vh;
}

main .about .right img{
    width: 35vw;
    height: auto;
    margin-top: -5vh;
    padding-left: 2%;
}

main .about .left h1{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 75px;
    align-self: center;
    padding: 5%;
}

main .about .left p{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-size: 25px;
    padding: 5%;
    padding-top: 8%;
    padding-right: 5%;
}