main .cards .card img{
    height: 25vh;
    width: auto;
}

main .cards .card .delivery img{
    height: 5vh;
    width: auto;
    cursor: pointer;
    margin: 2%;
}

main .cards .card .price, .delivery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .cards .card .price p{
    padding-left: 5%;
}

main .cards .card .delivery p{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}

main .cards .card{
    padding: 2%;
    background-color: #f3d7d7;
    justify-content: space-around;
    flex-basis: 25vw;
    padding-top: 1% ;
    padding-bottom: 1%;
    border: 1px solid #f3d7d7;
    border-radius: 16px;
    box-shadow: 0px 9px rgb(191, 191, 191);
}

main .cards .card:hover{
    scale: 1.1;
    transition-duration: 500ms;
}

main .cards{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-around;
}

main .cards .card p{
    padding: 5%;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-size: 15px;
}

main .top h1{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding-left: 3%;
    font-size: 60px;
    padding-bottom: 3%;
    flex-basis: 60vw;
    justify-self: flex-start
}

main .top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
}

main .top button{
    margin: 30px;
    color: white;
    background-color: black;
    flex-basis: 10vw;
    justify-self: flex-end;
    border: 1px solid black;
    box-shadow: none;
    border-radius: 16px;
    font-size: 23px;
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

main .top button:hover{
    cursor: pointer;
}

main .cards .card .price h2{
    font-size: 30px;
    padding: 2%;
}

.testimonial h1{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding: 10%;
    padding-left: 9%;
    font-size: 60px;
    padding-bottom: 3%;
    flex-basis: 60vw;
    justify-self: flex-start
}

.testimonial .cards .card{
    flex-basis: 20vw;
    padding: 2%;
}

.testimonial .cards .card:hover{
    transform: translateY(0);
    scale: 1;
}

.testimonial .cards .card img{
    width: 16vw;
    height: auto;
}

.testimonial .cards .card .star{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.testimonial .cards .card .star p{
    margin: 0;
    font-size: 20px;
    padding: 0;
}

main .about{
    display: flex;
    justify-content: space-around;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 2%;
    border-bottom: 2px solid rgb(94, 94, 94);
    margin-bottom: 1vh;
}

main .about .right img{
    width: 35vw;
    height: auto;
    margin-top: -5vh;
    padding-left: 2%;
    filter: drop-shadow(5px 5px 5px #222);
}

main .about .left h1{
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 75px;
    align-self: center;
    padding: 5%;
}

main .about .left p{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-size: 25px;
    padding: 5%;
    padding-top: 8%;
    padding-right: 5%;
}

@media screen and (max-width: 450px){
    main .top h1{
        font-size: 25px;
        margin-left: 7vw;
    }
    main .top button{
        font-size: 9px;
        align-items: center;
        border-radius: 6px;
        margin-top: 0.5vh;
        min-width: fit-content;
        padding: 1%;
    }
    main .cards .card img{
        width: 30vw;
        height: auto;
    }
    main .cards{
        overflow: scroll;
    }
    main .cards .card{
        padding: 2%;
        margin: 4vw;
        padding-bottom: 0%;
    }
    main .cards .card:hover{
        scale: 1.25;
        transition-duration: 300ms;
    }
    main .cards .card .price h2{
        font-size: 15px;
    }
    main .cards .card .price p{
        font-size: 10px;
    }
    main .cards .card p{
        font-size: 10px;
    }
    main .cards .card .delivery{
        align-self: flex-end;
    }
    main .cards .card .delivery p{
        font-size: 12px
    }
    main .cards .card .delivery img{
        width: 5vw;
        height: auto;
    }
    main .testimonial h1{
        font-size: 25px;
        margin-left: 2vw;
    }
    main .about .left h1{
        font-size: 30px;
    }
    main .about .left p{
        font-size: 10px;
    }
    main .about .right img{
        width: 35vw;
        margin-top: 1vh;
        margin-bottom: 3vh;
    }
}

@media screen and (max-width: 1050px) and (min-width: 450px){
    main .top h1{
        font-size: 45px;
    }
    main .top button{
        font-size: 15px;
        margin-top: 1vh;
        border-radius: 6px;
    }
    main .cards{
        overflow: scroll;
        justify-content: space-around;
        width: 110vw;
    }
    main .cards::-webkit-scrollbar{
        display: none;
    }
    main .cards .card{
        box-shadow: 0px 5px rgb(207, 207, 207);
        padding-bottom: 0%;
        margin-bottom: 2%;
        padding-left: 0%;
    }
    main .cards .card img{
        width: 30vw;
        height: auto;
    }
    main .cards .card .price + .delivery h2{
        font-size: 20px;
        padding: 3%;
    }
    main .cards .card .delivery img{
        width: 3vw;
        height: fit-content;
        margin-top: 1vh;
    }
    main .testimonial h1{
        font-size: 45px;
        margin-top: 5vh;
        padding-top: 0%;
    }
    main .about .left h1{
        font-size: 45px;
    }
    main .about .left p{
        font-size: 20px;
        padding-bottom: 5%;
    }
    main .about{
        padding: 5%;
        padding-bottom: 8%;
    }
    main .right img{
        width: 30vw;
        height: auto;
        padding-top: 10%;
        padding-bottom: 5%;
        margin-bottom: -10vh;
    }
}
