@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav .left img{
    height: 13vh;
    width: auto;
    margin-top: 3vh;
}

nav .left{
    flex-basis: 20vw;
    align-self: center;
    justify-self: center;
}

nav .right{
    flex-basis: 45vw;
    margin-top: 8vh;
    justify-self: flex-end;
    margin-right: -5vw;
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav .right a{
    text-decoration: none;
    color: black;
    /* text-align: center; */
    padding: 3%;
    /* margin-right: -5vw; */
    font-size: 24px;
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

nav .right a:hover{
    border-style: solid;
    border-width: 2px 0px;
    border-color: rgb(69, 108, 83);
}

@media screen and (max-width: 450px){
    nav{
        width: 100vw;
        margin-right: 0;
    }
    nav .right{
        flex-basis: 90vw;
        margin-top: 5vh;
    }
    nav .right a{
        font-size: 10px;
    }
    nav .left{
        flex-basis: 35vw;
        align-self: center;
    }
    nav .left img{
        width: 25vw;
        height: auto;
        padding-top: 1.8vh;
        padding-left: 5%;
    }
}

@media screen and (max-width: 1025px) and (min-width: 450px){
    nav .left img{
        width: 25vw;
        height: auto;
        padding-right: 0%;
        padding-left: 5%;
    }
    nav .right{
        flex-basis: 80vw;
        padding-right: 0%;
        margin-top: 5vh;
        padding-left: 3%;
    }
}